<%# locals: (action:, form:, options:) %>

<li data-rule-target="action">
  <%= form.hidden_field :_destroy, value: false, data: { rule_target: "destroyInput" } %>
  <%= form.select :action_type, options, {}, data: { action: "rule#handleActionTypeChange" } %>
  <span>to</span>
  <%= form.select :value, action.options, {}, data: { id: "value-input" } %>
  <button type="button" 
          data-action="rule#removeAction" 
          data-rule-destroy-param="<%= form.object.persisted? %>">
    Remove
  </button>
</li>