<%# locals: (category:) %>
<div class="w-96 text-sm font-semibold leading-6 text-gray-900 bg-white shadow-lg shrink rounded-xl ring-1 ring-gray-900/5">
  <div class="flex flex-col">
    <%= render partial: "transactions/categories/dropdown/form", locals: { category: } %>
    <hr>
    <div class="p-1.5 w-full">
      <%= button_to transaction_category_path(category),
              method: :delete,
              class: "flex text-sm font-medium items-center gap-2 text-red-600 w-full rounded-lg p-2 hover:bg-gray-100",
              data: { turbo: false } do %>
        <%= lucide_icon("trash-2", class: "w-5 h-5") %> Delete category
      <% end %>
    </div>
  </div>
</div>
