<div class="text-gray-900 flex items-center py-4 text-sm font-medium px-4">

  <div class="grow">
    <%= render "transactions/name", transaction: transaction %>
  </div>

  <%= content_tag :p,
                  format_money(transaction.amount_money),
                  class: ["ml-auto", "text-green-600": transaction.amount.negative?] %>
</div>
