<div class="bg-white space-y-4 p-5 border border-alpha-black-25 rounded-xl shadow-xs">
  <div class="p-5 flex justify-center items-center">
    <%= tag.p t(".loading"), class: "text-gray-500 animate-pulse text-sm" %>
  </div>
</div>
