<%= turbo_frame_tag dom_id(@account, "transactions") do %>
  <div class="bg-white space-y-4 p-5 border border-alpha-black-25 rounded-xl shadow-xs">
    <div class="flex justify-between items-center">
      <h3 class="font-medium text-lg">Transactions</h3>
      <%= link_to new_transaction_path(account_id: @account), class: "flex gap-1 font-medium items-center bg-gray-50 text-gray-900 p-2 rounded-lg", data: { turbo_frame: :modal } do %>
        <%= lucide_icon("plus", class: "w-5 h-5 text-gray-900") %>
        <span class="text-sm">New transaction</span>
      <% end %>
    </div>

    <% if @transactions.empty? %>
      <p class="text-gray-500 py-4">No transactions for this account yet.</p>
    <% else %>
      <div class="space-y-6">
        <% @transactions.group_by(&:date).each do |date, grouped_transactions| %>
          <%= transactions_group(date, grouped_transactions) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
