---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical?date=2024-01-01&from=USD&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b0b21c870fe53492404cc5ac258fa465"
      Rndr-Id:
      - 44367fcb-e5b4-457d
      X-Render-Origin-Server:
      - Render
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"2024-01-01","source":"USD","rates":{"GBP":0.785476}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":249830,"date":"2024-01-01"}}'
  recorded_at: Sat, 15 Mar 2025 22:18:46 GMT
recorded_with: VCR 6.3.1
