---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical?date=<%= Date.current.to_s %>&from=USD&to=MXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
        - W/"8664ef0fdb69c414d09a2c978ce5b58c"
      Rndr-Id:
        - 17105d86-81b0-4eb8
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"<%= Date.current.to_s %>","source":"USD","rates":{"MXN":18.769807}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":870}}'
  recorded_at: Wed, 31 Jul 2024 21:29:55 GMT
recorded_with: VCR 6.2.0
