---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical?date=2024-01-01&from=USD&to=GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0c93a67d0c68e6f206e2954a41aa2933"
      Rndr-Id:
      - 146e30b2-e03b-47e3
      X-Render-Origin-Server:
      - Render
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"2024-01-01","source":"USD","rates":{"GBP":0.785476}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":249734,"date":"2024-01-01"}}'
  recorded_at: Fri, 16 May 2025 13:01:38 GMT
recorded_with: VCR 6.3.1
