---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical-range?date_end=2024-07-31&date_start=2024-01-01&from=USD&page=1&to=EUR,GBP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8ec288f20ba69b8113b9244b805252d8"
      Rndr-Id:
      - 2ea5a901-374d-4e8b
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"date":"2024-01-01","source":"USD","rates":{"EUR":0.905969,"GBP":0.785476}},{"date":"2024-01-02","source":"USD","rates":{"EUR":0.906048,"GBP":0.785644}},{"date":"2024-01-03","source":"USD","rates":{"EUR":0.913941,"GBP":0.792232}},{"date":"2024-01-04","source":"USD","rates":{"EUR":0.915253,"GBP":0.789053}},{"date":"2024-01-05","source":"USD","rates":{"EUR":0.913491,"GBP":0.788487}},{"date":"2024-01-06","source":"USD","rates":{"EUR":0.912883,"GBP":0.785787}},{"date":"2024-01-07","source":"USD","rates":{"EUR":0.913346,"GBP":0.785994}},{"date":"2024-01-08","sourc[...]
[...]
