---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical?date=2024-08-01&from=USD&to=MXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
        - W/"668c8ac287a5ff6d6a705c35c69823b1"
      Rndr-Id:
        - ff56c2fe-6252-4b2c
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"2024-08-01","source":"USD","rates":{"MXN":18.645877}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":248999}}'
  recorded_at: Thu, 01 Aug 2024 17:20:28 GMT
recorded_with: VCR 6.2.0
