---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/search?country_code=US&dataset=limited&limit=25&name=AAPL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e444869eacbaf17006766a691cc8fdc"
      Rndr-Id:
      - 2effb56b-f67f-402d
      X-Render-Origin-Server:
      - Render
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"symbol":"AAPL","name":"Apple Inc.","logo_url":"https://logo.synthfinance.com/ticker/AAPL","currency":"USD","exchange":{"name":"Nasdaq/Ngs
        (Global Select Market)","mic_code":"XNGS","operating_mic_code":"XNAS","acronym":"NGS","country":"United
        States","country_code":"US","timezone":"America/New_York"}},{"symbol":"APLY","isin":"US88634T8577","name":"YieldMax
        AAPL Option Income ETF","logo_url":"https://logo.synthfinance.com/ticker/APLY","currency":"USD","exchange":{"name":"Nyse
        Arca","mic_code":"ARCX","operating_mic_code":"XNYS","acronym":"NYSE","country":"United
        States","country_code":"US","timezone":"America/New_York"}},{"symbol":"AAPD","name":"Direxion
        Daily AAPL Bear 1X ETF","logo_url":"https://logo.synthfinance.com/ticker/AAPD","currency":"USD","exchange":{"name":"Nasdaq/Nms
       [...]
