---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/tickers/AAPL?operating_mic=XNAS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"75f336ad88e262c72044e8b865265298"
      Rndr-Id:
      - ba973abf-7d96-4a9a
      X-Render-Origin-Server:
      - Render
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"ticker":"AAPL","name":"Apple Inc.","links":{"homepage_url":"https://www.apple.com"},"logo_url":"https://logo.synthfinance.com/ticker/AAPL","description":"Apple
        Inc. designs, manufactures, and markets smartphones, personal computers, tablets,
        wearables, and accessories worldwide. The company offers iPhone, a line of
        smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose
        tablets; and wearables, home, and accessories comprising AirPods, Apple TV,
        Apple Watch, Beats products, and HomePod. It also provides AppleCare support
        and cloud services; and operates various platforms, inclu[...]
