---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/enrich?amount=25.5&city=San%20Francisco&country=US&date=2025-03-15&description=UBER%20EATS&state=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1db909926620ba097a4a150be27740e4"
      Rndr-Id:
      - 58ab5340-1bd7-4d53
      X-Render-Origin-Server:
      - Render
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"merchant":"Uber Eats","merchant_id":"mer_aea41e7f29ce47b5873f3caf49d5972d","category":"Dining
        Out","website":"ubereats.com","icon":"https://logo.synthfinance.com/ubereats.com","meta":{"credits_used":1,"credits_remaining":249830}}'
  recorded_at: Sat, 15 Mar 2025 22:18:46 GMT
recorded_with: VCR 6.3.1
