---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
      X-Source:
      - maybe_app
      X-Source-Type:
      - managed
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ec3e0a20895d90b1e1241ca67f10ca3"
      Rndr-Id:
      - 54c8ecf9-6858-4db6
      X-Render-Origin-Server:
      - Render
      Speculation-Rules:
      - '"/cdn-cgi/speculation"'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"user_3208c49393f54b3e974795e4bea5b864","email":"test@maybe.co","name":"Test
        User","plan":"Business","api_calls_remaining":1200,"api_limit":5000,"credits_reset_at":"2025-04-01T00:00:00.000-04:00","current_period_start":"2025-03-01T00:00:00.000-05:00"}'
  recorded_at: Sat, 15 Mar 2025 22:18:47 GMT
recorded_with: VCR 6.3.1
