<div class="flex flex-col items-center justify-center py-40">
  <p class="text-secondary mb-2"><%= t(".title") %></p>
  <p class="text-subdued max-w-xs text-center"><%= t(".description") %></p>
</div>
