<div class="bg-container space-y-4 p-5 shadow-border-xs rounded-xl">
  <div class="p-5 flex justify-center items-center">
    <%= tag.p t(".loading"), class: "text-secondary animate-pulse text-sm" %>
  </div>
</div>
