<%# locals: (chat: nil) %>

<% model = chat ? [chat, Message.new] : Chat.new %>

<%= form_with model: model, class: "flex flex-col gap-2 bg-white px-2 py-1.5 rounded-lg shadow-border-xs" do |f| %>
  <%= f.text_area :content, 
          placeholder: "Ask anything ...", 
          class: "w-full border-0 focus:ring-0 text-sm resize-none px-1",
          rows: 1 %>

  <div class="flex items-center justify-between gap-1">
    <div class="flex items-center gap-1">
      <%# These are disabled for now, but in the future, will all open specific menus with their own context and search %>
      <% ["plus", "command", "at-sign", "mouse-pointer-click"].each do |icon| %>
        <button type="button" class="w-8 h-8 flex justify-center items-center hover:bg-surface-hover rounded-lg">
          <%= icon(icon, color: "gray") %>
        </button>
      <% end %>
    </div>

    <button type="submit" class="w-8 h-8 flex justify-center items-center text-secondary hover:bg-surface-hover cursor-pointer rounded-lg">
      <%= icon("arrow-up") %>
    </button>
  </div>
<% end %> 