<div id="message_<%= message.id %>" class="flex items-start gap-3 <%= message.user? ? 'justify-end' : '' %> mb-4 w-full">
  <% unless message.user? %>
    
    <div class="p-1 max-w-[85%] text-gray-800">
      <p><%= message.content %></p>
    </div>
  <% else %>
    <div class="bg-gray-200 rounded-lg p-1 max-w-[85%] text-gray-800">
      <p><%= message.content %></p>
    </div>
  <% end %>
</div> 