<%# locals: (message:) %>

<div id="<%= dom_id(message) %>">
  <div class="flex items-start">
    <%= render "chats/ai_avatar" %>
    <div class="pr-2 max-w-[85%] text-primary">
      <div class="prose prose-sm prose-gray break-words"><%= markdown(message.content) %></div>
    </div>
  </div>
</div>