<div class="flex justify-between mb-4">
  <h1 class="text-2xl font-semibold font-display">Connections</h1>
  <a href="<%= accounts_path %>" class="text-3xl text-gray-400 hover:text-gray-600"><i class="fa-duotone fa-circle-xmark"></i></a>
</div>

<ul class="mt-3 space-y-2 text-sm">
  <% @connections.each do |connection| %>
    <div class="flex items-center justify-between px-3 py-3 mb-2 bg-white shadow-sm rounded-xl">
      <div class="flex items-center text-sm">
        <%= institution_avatar(connection) %>
        <%= connection.name %>
      </div>
      <p class="text-sm text-right">
        <span class="block mr-2">
          <%= link_to "Disconnect", connection_path(connection), method: :delete, class: "text-sm text-red-500 hover:text-red-600", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </span>
      </p>
    </div>
  <% end %>
</ul>