---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_SFBFdJm0XLT5N5&items[0][price]=price_1RJz6KQT2jbOS8G0Otv3qD01&items[0][quantity]=1
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 13fca982-5895-4585-903d-4acd923c2aea
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 13fca982-5895-4585-903d-4acd923c2aea
      Original-Request:
      - req_wHietvdz8gil18
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1RKgtPQT2jbOS8G0YN7bieA0",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1746281894,
          "billing_cycle_anchor_config": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1746281894,
          "currency": "usd",
          "customer": "cus_SFBFdJm0XLT5N5",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_SFBFmgkhWWOAnF",
                "object": "subscription_item",
                "created": 1746281894,
                "current_period_end": 1748960294,
                "current_period_start": 1746281894,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
                  "object": "plan",
                  "active": true,
                  "amount": 900,
                  "amount_decimal": "900",
                  "billing_scheme": "per_unit",
                  "created": 1746113560,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_SES0vXCLNANR12",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1746113560,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_SES0vXCLNANR12",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 900,
                  "unit_amount_decimal": "900"
                },
                "quantity": 1,
                "subscription": "sub_1RKgtPQT2jbOS8G0YN7bieA0",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1RKgtPQT2jbOS8G0YN7bieA0"
          },
          "latest_invoice": "in_1RKgtQQT2jbOS8G0YWiKaTVX",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
            "object": "plan",
            "active": true,
            "amount": 900,
            "amount_decimal": "900",
            "billing_scheme": "per_unit",
            "created": 1746113560,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_SES0vXCLNANR12",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1746281894,
          "status": "active",
          "test_clock": "clock_1RKgtOQT2jbOS8G0GiZN9BcG",
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Sat, 03 May 2025 14:18:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events?type=customer.subscription.created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2025-04-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "evt_1RKgtSQT2jbOS8G00aaD4ziH",
              "object": "event",
              "api_version": "2024-09-30.acacia",
              "created": 1746281897,
              "data": {
                "object": {
                  "id": "sub_1RKgtPQT2jbOS8G0YN7bieA0",
                  "object": "subscription",
                  "application": null,
                  "application_fee_percent": null,
                  "automatic_tax": {
                    "disabled_reason": null,
                    "enabled": false,
                    "liability": null
                  },
                  "billing_cycle_anchor": 1746281894,
                  "billing_cycle_anchor_config": null,
                  "billing_thresholds": null,
                  "cancel_at": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "cancellation_details": {
                    "comment": null,
                    "feedback": null,
                    "reason": null
                  },
                  "collection_method": "charge_automatically",
                  "created": 1746281894,
                  "currency": "usd",
                  "current_period_end": 1748960294,
                  "current_period_start": 1746281894,
                  "customer": "cus_SFBFdJm0XLT5N5",
                  "days_until_due": null,
                  "default_payment_method": null,
                  "default_source": null,
                  "default_tax_rates": [],
                  "description": null,
                  "discount": null,
                  "discounts": [],
                  "ended_at": null,
                  "invoice_settings": {
                    "account_tax_ids": null,
                    "issuer": {
                      "type": "self"
                    }
                  },
                  "items": {
                    "object": "list",
                    "data": [
                      {
                        "id": "si_SFBFmgkhWWOAnF",
                        "object": "subscription_item",
                        "billing_thresholds": null,
                        "created": 1746281894,
                        "current_period_end": 1748960294,
                        "current_period_start": 1746281894,
                        "discounts": [],
                        "metadata": {},
                        "plan": {
                          "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
                          "object": "plan",
                          "active": true,
                          "aggregate_usage": null,
                          "amount": 900,
                          "amount_decimal": "900",
                          "billing_scheme": "per_unit",
                          "created": 1746113560,
                          "currency": "usd",
                          "interval": "month",
                          "interval_count": 1,
                          "livemode": false,
                          "metadata": {},
                          "meter": null,
                          "ni[...]
