<% header_title t(".title") %>

<% if params[:step] == "pending" %>
  <p class="text-sm text-secondary text-center"><%= t(".requested") %></p>
<% else %>
  <%= styled_form_with url: password_reset_path, class: "space-y-4" do |form| %>
    <%= form.email_field :email, label: true, autofocus: false, autocomplete: "email", required: "required", placeholder: "you@example.com" %>

    <%= form.submit t(".submit") %>
  <% end %>
<% end %>
