<% if variant == :divider %>
  <%= render "shared/ruler", classes: "my-1" %>
<% else %>
  <div class="px-1">
    <%= wrapper do %>
      <% if icon %>
        <%= helpers.icon(icon, color: destructive? ? :destructive : :default) %>
      <% end %>
      <%= tag.span(text, class: text_classes) %>
    <% end %>
  </div>
<% end %>
