<% content_for :sidebar do %>
  <%= render "settings/nav" %>
<% end %>
<h1 class="text-gray-900 text-xl font-medium mb-4">Preferences</h1>
<div class="bg-white shadow-xs border border-alpha-black-25 rounded-xl p-4">
  <div class="flex justify-center items-center py-20">
    <p class="text-gray-500">Preferences coming soon...</p>
  </div>
</div>
