<div class="flex items-center gap-3">
  <%= render "accounts/logo", account: account %>

  <div>
    <h2 class="font-medium text-xl"><%= account.name %></h2>

    <% if account.property.address&.line1.present? %>
      <p class="text-gray-500"><%= account.property.address %></p>
    <% end %>
  </div>
</div>
