#!/usr/bin/env bash
# ^ added for shellcheck and file-type detection

# Watch & reload direnv on change
watch_file devshell.toml

if [[ $(type -t use_flake) != function ]]; then
  echo "ERROR: use_flake function missing."
  echo "Please update direnv to v2.30.0 or later."
  exit 1
fi

use flake --impure

mkdir -p .bundle
cat > .bundle/config <<EOF
---
BUNDLE_PATH: "vendor/bundle"
EOF

bundle config path vendor/bundle
