# To enable / disable self-hosting features.
SELF_HOSTED=false

# Enable Synth market data (careful, this will use your API credits)
SYNTH_API_KEY=yourapikeyhere

# Enable the Investment Analytics app and configure FMP API access
ENABLE_INVESTMENT_ANALYTICS_APP=false
FMP_API_KEY=yourfmpapikeyhere
