# ================
# Data Providers
# ---------------------------------------------------------------------------------
# Uncomment and fill in live keys when you need to generate a VCR cassette fixture
# ================

# SYNTH_API_KEY=<add live key here>

# ================
# Miscellaneous
# ================

# Set to true if you want SimpleCov reports generated
COVERAGE=false

# Set to true to run test suite serially
DISABLE_PARALLELIZATION=false

MAYBE_PDF_IMPORTS=true

ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=maybe_test_encryption_primary_key
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=maybe_test_encryption_deterministic_key
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=maybe_test_encryption_key_derivation
