services:
  db:
    image: postgres:16-alpine
    restart: always
    env_file: .env
    volumes:
      - db:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "127.0.0.1:3000:3000"

volumes:
  db:
