<dialog id="confirm-dialog" data-controller="confirm-dialog" class="backdrop:bg-overlay bg-transparent m-auto p-1">
  <form method="dialog" class="p-4 bg-container rounded-xl shadow-border-xs space-y-4 min-w-full lg:min-w-[300px] lg:max-w-[400px]">
    <div class="space-y-2">
      <div class="flex items-center justify-between gap-2">
        <h3 class="font-medium text-primary" data-confirm-dialog-target="title">Are you sure?</h3>
        <%= icon("x", as_button: true, value: "cancel") %>
      </div>

      <p class="text-sm text-secondary" data-confirm-dialog-target="subtitle">This action cannot be undone.</p>
    </div>

    <div>
      <% ["primary", "outline-destructive", "destructive"].each do |variant| %>
        <%= render ButtonComponent.new(
          text: "Confirm",
          variant: variant,
          autofocus: true,
          full_width: true,
          value: "confirm",
          data: { variant: variant, confirm_dialog_target: "confirmButton" },
          hidden: true,
        ) %>
      <% end %>
    </div>
  </form>
</dialog>
