<footer class="p-6 mb-12">
  <div class="space-y-2 text-center text-xs text-secondary">
    <p>&copy; <%= Date.current.year %>, Maybe Finance, Inc.</p>
    <p><%= link_to t(".privacy_policy"), "https://maybefinance.com/privacy", class: "underline hover:text-gray-600" %> &bull; <%= link_to t(".terms_of_service"), "https://maybefinance.com/tos", class: "underline hover:text-gray-600" %></p>
  </div>
</footer>
