<footer class="p-6">
  <div class="space-y-2 text-center text-xs text-secondary">
    <p>&copy; <%= Date.current.year %>, Maybe Finance, Inc.</p>
    <div class="flex justify-center items-center gap-2">
      <%= link_to "Privacy Policy", privacy_path, class: "text-secondary", target: "_blank" %>
      <span>&bull;</span>
      <%= link_to "Terms of Service", terms_path, class: "text-secondary", target: "_blank" %>
    </div>
  </div>
</footer>
