<div class="fixed z-50 bottom-6 left-6">
  <div id="notification-tray" class="space-y-1">
    <%= render_flash_notifications %>

    <% if Current.family&.syncing? %>
      <%= render "shared/syncing_notice" %>
    <% end %>
  </div>
</div>

<%= family_notifications_stream %>
<%= family_stream %>
