<%# This partial renders the page header with title and optional subtitle %>
<header class="space-y-6">
  <% if local_assigns[:title].present? %>
    <div class="space-y-1">
      <h1 class="text-3xl font-medium text-primary"><%= title %></h1>
      <% if local_assigns[:subtitle].present? %>
        <p class="text-gray-500"><%= subtitle %></p>
      <% end %>
    </div>
  <% end %>
</header>
