<div data-controller="tooltip" data-tooltip-cross-axis-value="50">
  <div class="flex items-center gap-1 text-warning">
    <%= icon "info", size: "sm", color: "current" %>
    <%= tag.span t(".missing_data"), class: "font-normal text-xs" %>
  </div>
  <div role="tooltip" data-tooltip-target="tooltip" class="tooltip bg-gray-700 text-sm p-2 rounded w-64">
    <div class="text-white">
      <%= t(".description") %>
    </div>
  </div>
</div>
