<%# locals: (form:) %>

<% condition = form.object %>

<li>
  <% if condition.compound? %>
    <ul class="border border-gray-200 p-2">
      <%= form.fields_for :sub_conditions do |scf| %>
        <%= render "rule/conditions/condition_group", form: scf %>
      <% end %>
    </ul>
  <% else %>
    <%= render "rule/conditions/condition", form: form %>
  <% end %>
</li>
