<%# locals: (condition:, form:, options:) %>

<li>
  <% if condition.compound? %>
    <% if condition.compound? %>
      <p class="mb-3">and</p>
    <% end %>

    <ul class="border border-gray-200 p-2">
      <%= form.fields_for :sub_conditions do |scf| %>
        <%= render "rule/conditions/condition_group", condition: scf.object, form: scf, options: options %>
      <% end %>
    </ul>
  <% else %>
    <% if form.index.is_a?(Integer) && form.index > 0 %>
      <% if condition.parent.present? %>
        <span><%= condition.parent.operator %></span>
      <% else %>
        <span>and</span>
      <% end %>
    <% end %>

    <%= render "rule/conditions/condition", condition: condition, form: form, options: options %>
  <% end %>
</li>