<div id="<%= dom_id portfolio %>">
  <p class="my-5">
    <%= portfolio.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this portfolio", portfolio, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this portfolio", edit_portfolio_path(portfolio), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
