<div class="w-full">
  <% if notice.present? %>
    <p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 rounded-lg bg-green-50" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex items-center justify-between">
    <h1 class="text-4xl font-bold">Portfolios</h1>
    <%= link_to "New portfolio", new_portfolio_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <ul id="portfolios" class="min-w-full prose">
    <% @portfolios.each do |portfolio| %>
      <li>
        <%= link_to portfolio.name, portfolio %>
      </li>
    <% end %>
  </ul>
</div>
