<%# locals: (budget:) %>

<div>
  <div class="p-4 border-b border-gray-100">
    <% income_data = budget.family.categories.incomes.map { |category| { 
      category: category.name, 
      amount: category.month_total(date: budget.start_date).amount * -1, 
      color: category.color, 
      percentage: budget.actual_income.zero? ? 0 : (-1 * category.month_total(date: budget.start_date)) / budget.actual_income } 
      } %>

    <% uncategorized_income_amount = budget.actual_income - income_data.sum { |d| d[:amount] }
    income_data << {
      category: "Uncategorized",
      amount: uncategorized_income_amount,
      color: Category::UNCATEGORIZED_COLOR,
      percentage: budget.actual_income.zero? ? 0 : uncategorized_income_amount / budget.actual_income
    } %>

    <%= render "budgets/actuals_summary_section", title: "Income", value: budget.actual_income, items: income_data %>
  </div>

  <div class="p-4">
    <% expense_data = budget.family.categories.expenses.map { |category| { 
      category: category.name, 
      amount: category.month_total(date: budget.start_date).amount, 
      color: category.color, 
      percentage: budget.actual_expenses.zero? ? 0 : category.month_total(date: budget.start_date) / budget.actual_expenses } 
      } %>

    <% uncategorized_expense_amount = budget.actual_expenses - expense_data.sum { |d| d[:amount] }
    expense_data << {
      category: "Uncategorized",
      amount: uncategorized_expense_amount,
      color: Category::UNCATEGORIZED_COLOR,
      percentage: budget.actual_expenses.zero? ? 0 : uncategorized_expense_amount / budget.actual_expenses
    } %>

    <%= render "budgets/actuals_summary_section", title: "Expenses", value: budget.actual_expenses, items: expense_data  %>
  </div>
</div>
