<%# locals: (budget:) %>

<div>
  <div class="flex items-center gap-1.5 px-4 py-2 text-xs font-medium text-gray-500 uppercase">
    <p>Categories</p>
    <span class="text-gray-400">&middot;</span>
    <p><%= budget.budget_categories.count %></p>

    <p class="ml-auto">Amount</p>
  </div>

  <div class="bg-white py-1 shadow-xs border border-gray-100 rounded-md">
    <% if budget.family.categories.expenses.empty? %>
      <div class="py-8">
        <%= render "budget_categories/no_categories" %>
      </div>
    <% else %>
      <% category_groups = BudgetCategory::Group.for(budget.budget_categories) %>

      <% category_groups.each_with_index do |group, index| %>
        <%= render "budget_categories/group", group: group %>

        <div class="px-4">
          <div class="h-px w-full bg-alpha-black-50"></div>
        </div>
      <% end %>

      <%= render "budget_categories/budget_category", budget_category: budget.uncategorized_budget_category %>
    <% end %>
  </div>
</div>