<%# locals: (budget:) %>

<div class="flex flex-col gap-4 items-center justify-center h-full">
  <%= lucide_icon "alert-triangle", class: "w-6 h-6 text-red-500" %>
  <p class="text-secondary text-sm text-center">You have over-allocated your budget.  Please fix your allocations.</p>

  <%= render LinkComponent.new(
    text: "Fix allocations",
    variant: "secondary",
    size: "sm",
    icon: "pencil",
    icon_position: "right",
    href: budget_budget_categories_path(budget)
  ) %>
</div>
