<%# app/views/invite_codes/_invite_code.html.erb %>
<div class="invite_code pt-2">
  <div class="flex items-center justify-between p-2 w-1/2 bg-gray-50 rounded" data-controller="clipboard">
    <div>
      <span data-clipboard-target="source" class="text-sm font-medium"><%= invite_code.token %></span>
    </div>
    <button data-action="clipboard#copy" class="flex-shrink-0 z-10 inline-flex items-center px-1 text-sm text-gray-500 font-sm text-center" type="button">
      <span data-clipboard-target="iconDefault">
        <%= lucide_icon "copy", class: "w-5 h-5" %>
      </span>
      <span class="hidden inline-flex items-center" data-clipboard-target="iconSuccess">
        <%= lucide_icon "check", class: "w-5 h-4" %>
      </span>
    </button>
  </div>
</div>
