<div class="space-y-4">
  <p>Your Synth API credit limit has been exceeded.</p>

  <p>You can:</p>
  <ul class="list-disc pl-4 space-y-2">
    <li>Wait for your API credits to reset at the start of your next billing cycle or upgrade your Synth plan</li>
    <li>
      <%= link_to "View your current usage and upgrade your plan", 
                  "https://dashboard.synthfinance.com/settings", 
                  class: "text-blue-500 hover:text-blue-700" %>
    </li>
  </ul>
</div>