<% content_for :sidebar do %>
  <%= render "settings/nav" %>
<% end %>
<div class="space-y-4">
  <h1 class="text-gray-900 text-xl font-medium mb-4">Billing</h1>
  <div class="bg-white shadow-xs border border-alpha-black-25 rounded-xl p-4">
    <div class="flex justify-center items-center py-20">
      <p class="text-gray-500">Billing settings coming soon...</p>
    </div>
  </div>
  <div class="flex justify-between gap-4">
    <%= previous_setting("Security", settings_security_path) %>
    <% if self_hosted? %>
      <%= next_setting("Self-Hosting", settings_hosting_path) %>
    <% else %>
      <%= next_setting("Accounts", accounts_path) %>
    <% end %>
  </div>
</div>
