---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user_1746460483%40maybe.test&payment_method=pm_card_visa&invoice_settings[default_payment_method]=pm_card_visa
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 43bad987-0d1d-40b3-ba3a-b3c487b451ec
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 43bad987-0d1d-40b3-ba3a-b3c487b451ec
      Original-Request:
      - req_kzX9FycAESVG5A
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SFxGkz3FjwHBzl",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1746460483,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user_1746460483@maybe.test",
          "invoice_prefix": "2WIY301U",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1RLRLrQT2jbOS8G02Tjpuml7",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Mon, 05 May 2025 15:54:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_SFxGkz3FjwHBzl&items[0][price]=price_1RJz6KQT2jbOS8G0Otv3qD01&items[0][quantity]=1
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 91df4ff3-9278-4983-9470-8a9158fd5a14
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91df4ff3-9278-4983-9470-8a9158fd5a14
      Original-Request:
      - req_v0qATFlgFqxPRi
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_1RLRLsQT2jbOS8G0bjpT9PgR",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1746460484,
          "billing_cycle_anchor_config": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1746460484,
          "currency": "usd",
          "customer": "cus_SFxGkz3FjwHBzl",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_SFxGKY9wVPtS2c",
                "object": "subscription_item",
                "created": 1746460484,
                "current_period_end": 1749138884,
                "current_period_start": 1746460484,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
                  "object": "plan",
                  "active": true,
                  "amount": 900,
                  "amount_decimal": "900",
                  "billing_scheme": "per_unit",
                  "created": 1746113560,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_SES0vXCLNANR12",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1746113560,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_SES0vXCLNANR12",
                  "recurring": {
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 900,
                  "unit_amount_decimal": "900"
                },
                "quantity": 1,
                "subscription": "sub_1RLRLsQT2jbOS8G0bjpT9PgR",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_1RLRLsQT2jbOS8G0bjpT9PgR"
          },
          "latest_invoice": "in_1RLRLsQT2jbOS8G0gTvUrXWr",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": null,
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_1RJz6KQT2jbOS8G0Otv3qD01",
            "object": "plan",
            "active": true,
            "amount": 900,
            "amount_decimal": "900",
            "billing_scheme": "per_unit",
            "created": 1746113560,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_SES0vXCLNANR12",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1746460484,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Mon, 05 May 2025 15:54:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/events?created%5Bgt%5D=1746460436&type=customer.subscription.created
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2025-04-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "evt_1RLRLuQT2jbOS8G0r6qjL6m7",
              "object": "event",
              "api_version": "2024-09-30.acacia",
              "created": 1746460486,
              "data": {
                "object": {
                  "id": "sub_1RLRLsQT2jbOS8G0bjpT9PgR",
                  "object": "subscription",
                  "application": null,
                  "application_fee_percent": null,
                  "automatic_tax": {
                    "disabled_reason": null,
                    "enabled": false,
                    "liability": null
                  },
                  "billing_cycle_anchor": 1746460484,
                  "billing_cycle_anchor_config": null,
                  "billing_thresholds": null,
                  "cancel_at": null,
                  "cancel_at_period_end": false,
                  "canceled_at": null,
                  "cancellation_details": {
                    "comment": null,
                    "feedback": null,
                    "reason": null
                  },
                  "collection_method": "charge_automatically",
                  "created": 1746460484,
                  "currency": "usd",
                  "current_period_end": 1749138884,
[...]
