<%# locals: (issue:) %>

<p>To fix this issue, you need to provide an API key for your exchange rate provider.</p>

<p>Currently, we support <%= link_to "Synth Finance", "https://synthfinance.com", target: "_blank" %>, so you need to
  get a free API key from the link provided.</p>

<p>Once you have your API key, paste it below to configure it.</p>

<%= styled_form_with model: issue, url: exchange_rate_provider_issue_path(issue), method: :patch do |form| %>
  <%= form.text_field :synth_api_key, class: "w-full" %>
  <%= form.submit "Save", class: "btn-primary" %>
<% end %>