<h1><%= t(".greeting") %></h1>

<p>
  <%= t(".body",
    inviter: @invitation.inviter.display_name,
    family: @invitation.family.name).html_safe %>
</p>

<%= link_to t(".accept_button"), @accept_url, class: "button" %>

<p class="footer"><%= t(".expiry_notice", days: 3) %></p>
