<h1><%= t(".greeting") %></h1>

<p>
  <%= t(".body", 
    inviter: @invitation.inviter.display_name,
    family: @invitation.family.name) %>
</p>

<%= link_to t(".accept_button"), @accept_url, class: "button" %>

<p><%= t(".expiry_notice", days: 7) %></p>