---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/enrich?description=AMZN%20Mktp%20US*RW1VY1ZU5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"71d4dc25e0d13c9fe424f1257113cbf4"
      Rndr-Id:
      - b40f6be2-a81f-4759
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"merchant":"Amazon.com","merchant_id":"mer_9faf5570fd204c9991f94e2797dd9072","website":"amazon.com","icon":"https://logo.synthfinance.com/amazon.com","address":{"line1":"440
        Terry Avenue North","city":"Seattle","state":"WA","postalCode":"98109","country":"US"},"meta":{"credits_used":1,"credits_remaining":980}}'
  recorded_at: Mon, 25 Mar 2024 03:29:32 GMT
recorded_with: VCR 6.2.0
