---
http_interactions:
  - request:
      method: get
      uri: https://api.synthfinance.com/rates/historical?date=2024-06-30&from=EUR&to=GBP
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <SYNTH_API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"e0be61146fd549aba0436fd442da0553"
        Rndr-Id:
          - 27027c8d-be19-4432
        X-Render-Origin-Server:
          - Render
      body:
        encoding: ASCII-8BIT
        string: '{"data":{"date":"2024-06-30","source":"EUR","rates":{"GBP":0.847272}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":994}}'
    recorded_at: Tue, 02 Jul 2024 17:36:53 GMT
  - request:
      method: get
      uri: https://api.synthfinance.com/rates/historical?date=2024-07-01&from=EUR&to=GBP
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <SYNTH_API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"f9ff90aea0fcab2de1f0b62fb417fe2c"
        Rndr-Id:
          - 832e7ed3-8f2e-4970
        X-Render-Origin-Server:
          - Render
      body:
        encoding: ASCII-8BIT
        string: '{"data":{"date":"2024-07-01","source":"EUR","rates":{"GBP":0.848743}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":993}}'
    recorded_at: Tue, 02 Jul 2024 17:36:53 GMT
recorded_with: VCR 6.2.0
