---
http_interactions:
- request:
    method: get
    uri: https://api.synthfinance.com/rates/historical?date=<%= Date.current.to_s %>&from=USD&to=MXN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SYNTH_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f579f6aba70327af8f4a88528916a445"
      Rndr-Id:
      - a54a6e2e-4945-4fbb
      X-Render-Origin-Server:
      - Render
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"date":"<%= Date.current.to_s %>","source":"USD","rates":{"MXN":16.772475}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":989}}'
  recorded_at: Sun, 24 Mar 2024 20:26:46 GMT
recorded_with: VCR 6.2.0
