---
http_interactions:
  - request:
      method: get
      uri: https://api.synthfinance.com/rates/historical?date=2024-07-02&from=USD&to=GBP
      body:
        encoding: US-ASCII
        string: ''
      headers:
        Authorization:
          - Bearer <SYNTH_API_KEY>
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"6c08ef2f140c10aebfe32115c0afd4db"
        Rndr-Id:
          - add6b403-0494-4115
        X-Render-Origin-Server:
          - Render
      body:
        encoding: ASCII-8BIT
        string: '{"data":{"date":"2024-07-02","source":"USD","rates":{"GBP":0.792036}},"meta":{"total_records":1,"credits_used":1,"credits_remaining":992}}'
    recorded_at: Tue, 02 Jul 2024 18:10:24 GMT
recorded_with: VCR 6.2.0
