<div class="flex items-center py-0.5 px-0.5 gap-1 fixed right-1 top-1 shadow-xs border border-alpha-black-50 rounded-md bg-container">
  <p class="text-xs text-secondary pl-2">Version: <%= Maybe.version.to_release_tag %></p>
</div>
