<% flash.each do |type, msg| %>
  <div class="p-4 bg-<%= type == 'notice' ? 'blue' : 'red' %>-200 rounded-lg"><%= msg %></div>
<% end %>

<% errors.each do |message| %>
  <div class="p-4 bg-red-200 rounded-lg"><%= message %></div>
<% end %>
