<%# locals: (f:, parent_color: nil) %>

<% selectable_colors = Category::COLORS.map { |color| parent_color && parent_color != color ? "color-mix(in srgb, #{color} 35%, lightgray)" : color } %>
<div class="flex gap-2 items-center justify-center">
  <% selectable_colors.each do |color| %>
    <label class="relative">
      <%= f.radio_button :color, color, disabled: !(Category::COLORS.include? color), class: "sr-only peer", data: { action: "change->color-avatar#handleColorChange" } %>
      <div class="w-6 h-6 rounded-full cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-blue-500" style="background-color: <%= color %>"></div>
    </label>
  <% end %>
</div>