<dialog id="turbo-confirm" class="max-w-[420px] w-full rounded-xl m-auto">
  <form method="dialog" class="p-4">
    <div class="flex flex-col mb-4">
      <div class="flex justify-between mb-2 gap-4">
        <h3 id="turbo-confirm-title" class="font-medium text-md"><%= t(".title") %></h3>
        <button value="cancel">
          <%= lucide_icon("x", class: "w-5 h-5 shrink-0 text-secondary") %>
        </button>
      </div>
      <div id="turbo-confirm-body" class="text-secondary text-sm">
        <%= t(".body_html") %>
      </div>
    </div>
    <button id="turbo-confirm-accept" class="btn btn--outline-destructive justify-center w-full mb-2" value="confirm"><%= t(".accept") %></button>
  </form>
</dialog>
