<%# locals: (title:, content:, open: true) %>

<details class="group space-y-2" <%= "open" if open %>>
  <summary class="flex list-none items-center justify-between rounded-xl px-3 py-2 text-xs font-medium
                        uppercase text-secondary bg-surface focus-visible:outline-hidden">
    <h3><%= title %></h3>
    <%= icon "chevron-down", class: "group-open:transform group-open:rotate-180" %>
  </summary>

  <%= content %>
</details>
