<%# locals: (content:, reload_on_close: false) %>

<%= turbo_frame_tag "drawer" do %>
  <dialog class="ml-auto bg-container md:shadow-border-xs md:rounded-2xl  max-w-screen max-h-screen md:max-w-[480px] h-full w-full md:mt-4 md:mr-4 pt-safe focus-visible:outline-hidden"
    data-controller="modal"
    data-action="mousedown->modal#clickOutside"
    data-modal-reload-on-close-value="<%= reload_on_close %>">
    <div class="flex flex-col h-full gap-4">
      <div class="flex justify-end items-center p-4">
        <div data-action="mousedown->modal#close" class="cursor-pointer p-2">
          <%= lucide_icon("x", class: "w-5 h-5 shrink-0") %>
        </div>
      </div>
      <div class="flex-1 overflow-y-auto px-4 pb-4">
        <%= content %>
      </div>
    </div>
  </dialog>
<% end %>
