<%# locals: (content:, reload_on_close: false) %>

<%= turbo_frame_tag "drawer" do %>
  <dialog class="bg-container max-w-full h-screen max-h-screen m-0 shadow-border-xs sm:rounded-2xl sm:max-h-[calc(100vh-32px)] sm:max-w-[480px] w-full sm:mt-4 sm:mr-4 sm:ml-auto focus-visible:outline-hidden"
    data-controller="modal"
    data-action="mousedown->modal#clickOutside"
    data-modal-reload-on-close-value="<%= reload_on_close %>">
    <div class="flex flex-col h-full gap-4">
      <div class="flex justify-end items-center p-4">
        <div data-action="mousedown->modal#close" class="cursor-pointer p-2">
          <%= lucide_icon("x", class: "w-5 h-5 shrink-0") %>
        </div>
      </div>
      <div class="flex-1 overflow-y-auto px-4 pb-4">
        <%= content %>
      </div>
    </div>
  </dialog>
<% end %>
