<%# locals: (series:) %>
<% if series %>
  <div
    id="lineChart"
    class="w-full h-full"
    data-controller="time-series-chart"
    data-time-series-chart-data-value="<%= series.to_json %>"
    data-time-series-chart-use-labels-value="true"
    data-time-series-chart-use-tooltip-value="true"></div>
<% else %>
  <div class="w-full h-full flex items-center justify-center">
    <p class="text-gray-500">No data available for the selected period.</p>
  </div>
<% end %>
