<%# locals: (header:, content:) %>
<div class="bg-gray-25 rounded-xl p-1 w-full">
  <div class="py-2 px-4 flex items-center justify-between font-medium text-xs text-secondary">
    <%= header %>
  </div>
  <div class="bg-white shadow-xs rounded-md border border-alpha-black-25 divide-y divide-alpha-black-50">
    <%= content %>
  </div>
</div>
