<%# locals: (content:) -%>
<%= turbo_frame_tag "modal" do %>
  <dialog class="bg-white border border-alpha-black-25 rounded-2xl max-h-[556px] max-w-[580px] w-full shadow-xs h-full" data-controller="modal" data-action="click->modal#clickOutside">
    <div class="flex flex-col h-full">
      <%= content %>
    </div>
  </dialog>
<% end %>
