<%# locals: (content:, reload_on_close:, overflow_visible: false) -%>

<%= turbo_frame_tag "modal" do %>
  <%= tag.dialog(
    class: class_names(
      "focus:outline-none md:m-auto bg-container rounded-none md:rounded-2xl max-w-screen max-h-screen md:max-w-max w-full h-full md:h-fit md:w-auto shadow-border-xs",
      overflow_visible ? "overflow-visible" : "overflow-auto"
    ),
    data: {
      controller: "modal",
      action: "mousedown->modal#clickOutside",
      modal_reload_on_close_value: reload_on_close
    }
  ) do %>
    <div class="flex flex-col h-full md:h-auto mt-safe">
      <%= content %>
    </div>
  <% end %>
<% end %>
