<%# locals: (content:, classes:) -%>
<%= turbo_frame_tag "modal" do %>
  <dialog class="m-auto bg-container shadow-border-xs rounded-2xl max-w-[580px] w-min-content h-fit overflow-visible <%= classes %>" data-controller="modal" data-action="mousedown->modal#clickOutside">
    <div class="flex flex-col">
      <%= content %>
    </div>
  </dialog>
<% end %>
