<%= render DialogComponent.new(open_on_load: true) do |dialog| %>
  <div class="rounded-xl" style="background-image: url('<%= asset_path("maybe-plus-background.svg") %>'); background-size: cover; background-position: center top;">
    <div class="text-center rounded-xl" style="background-image: linear-gradient(to bottom, rgba(197,161,119,0.15) 0%, rgba(255,255,255,0.8) 30%, white 40%);">
      <div class="p-4 pt-2 rounded-xl">
        <div class="flex justify-center">
          <%= image_tag "maybe-plus-logo.png", class: "w-20" %>
        </div>

        <h2 class="font-medium text-primary mb-2">Join Maybe+</h2>

        <div class="text-secondary text-sm space-y-4 mb-5">
          <p>Nobody likes paywalls, but we need feedback from users willing to pay for Maybe. </p>

          <p>To continue using the app, please subscribe. In this early beta testing phase, we require that you upgrade within one hour to claim your spot.</p>
        </div>

        <%= render LinkComponent.new(
              text: "Upgrade to Maybe+",
              href: new_subscription_path,
              variant: "primary",
              full_width: true
            ) %>
      </div>
    </div>
  </div>
<% end %>