<%= tag.div id: "syncing-notice", class: "flex gap-3 rounded-lg border bg-container p-4 group w-full shadow-xs border-alpha-black-25" do %>
  <div class="h-5 w-5 shrink-0 p-px text-white">
    <%= lucide_icon "loader", class: "w-5 h-5 text-secondary animate-pulse" %>
  </div>

  <%= tag.p t(".syncing"), class: "text-primary text-sm font-medium" %>
<% end %>
