<div role="tooltip" data-tooltip-target="tooltip" class="tooltip bg-gray-700 text-sm px-1.5 py-1 rounded-md">
  <div class="fg-inverse font-normal max-w-[200px]">
    <%= tooltip_text %>
  </div>
</div>
