<%# locals: (success:, content:) -%>
<div data-controller="toast" class="absolute right-6 top-6 border border-gray-[#1414140D] bg-white rounded-[.5rem] shadow-xs flex p-4 max-w-[300px] gap-3 transition-opacity duration-500 hover:bg-[#FDFDFD] cursor-pointer">
    <% if success %>
        <div class="p-0.5 bg-[#10A861] w-4 h-4 rounded-full m-0.5 shrink-0">
            <%= lucide_icon("check", class: "w-3 h-3 text-white") %>
        </div>
    <% else %>
        <div class="p-0.5 bg-[#EC2222] w-4 h-4 rounded-full m-0.5 shrink-0">
            <%= lucide_icon("x", class: "w-3 h-3 text-white") %>
        </div>
    <% end %>
    <p class="leading-tight text-[#141414]">
        <%= content %>
    </p>
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" class="shrink-0">
        <path d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM3.6 10C3.6 13.5346 6.46538 16.4 10 16.4C13.5346 16.4 16.4 13.5346 16.4 10C16.4 6.46538 13.5346 3.6 10 3.6C6.46538 3.6 3.6 6.46538 3.6 10Z" fill="#E5E5E5"/>
        <circle data-toast-target="circle" class="origin-center -rotate-90" stroke="#141414" stroke-opacity="0.4" r="7.2" cx="10" cy="10" stroke-dasharray="45.238934, 45.238934" stroke-dashoffset="45.238934" />
    </svg>
</div>
