<div class="bg-surface">
  <div class="h-screen flex flex-col items-center py-6">
    <div class="grow flex justify-center items-center flex-col max-w-sm w-full text-center">
      <%= image_tag "logo-color.png", class: "w-16 mb-6" %>
      <%= tag.h1 t(".title"), class: "text-3xl font-medium mb-2" %>
      <%= tag.p t(".message"), class: "text-sm text-secondary mb-6" %>

      <%= link_to t(".setup"), profile_onboarding_path, class: "block flex justify-center items-center btn btn--primary w-full" %>
    </div>
  </div>
</div>
