<div class="flex justify-center items-center py-20">
  <div class="text-center flex flex-col items-center max-w-[300px]">
    <p class="text-gray-900 mb-1 font-medium text-sm"><%= t(".message") %></p>
    <%= link_to new_import_path, class: "w-fit flex text-white text-sm font-medium items-center gap-1 bg-gray-900 rounded-lg p-2 pr-3", data: { turbo_frame: "modal" } do %>
      <%= lucide_icon("plus", class: "w-5 h-5") %>
      <span><%= t(".new") %></span>
    <% end %>
  </div>
</div>
