<%# locals: (import:) %>

<div class="h-full flex flex-col justify-center items-center">
  <div class="space-y-6 max-w-sm">
    <div class="mx-auto bg-gray-500/5 h-8 w-8 rounded-full flex items-center justify-center">
      <%= lucide_icon "loader", class: "animate-pulse w-5 h-5 text-gray-500" %>
    </div>

    <div class="text-center space-y-2">
      <h1 class="font-medium text-gray-900 text-center text-3xl">Import in progress</h1>
      <p class="text-sm text-gray-500">Your import is in progress. Check the imports menu for status updates or click 'Check Status' to refresh the page for updates. Feel free to continue using the app.</p>
    </div>

    <div class="space-y-2">
      <%= link_to "Check status", import_path(import), class: "block btn btn--primary text-center w-full" %>
      <%= link_to "Back to dashboard", root_path, class: "block btn btn--secondary text-center w-full" %>
    </div>
  </div>
</div>
