<%# locals: (import:) %>

<div class="h-full flex flex-col justify-center items-center">
  <div class="space-y-6 max-w-sm">
    <div class="mx-auto bg-gray-500/5 h-8 w-8 rounded-full flex items-center justify-center">
      <%= icon "loader", class: "animate-pulse" %>
    </div>

    <div class="text-center space-y-2">
      <h1 class="font-medium text-primary text-center text-3xl">Import in progress</h1>
      <p class="text-sm text-secondary">Your import is in progress. Check the imports menu for status updates or click 'Check Status' to refresh the page for updates. Feel free to continue using the app.</p>
    </div>

    <div class="space-y-2 flex flex-col">
      <%= render DS::Link.new(text: "Check status", href: import_path(import), variant: "primary", full_width: true) %>
      <%= render DS::Link.new(text: "Back to dashboard", href: root_path, variant: "secondary", full_width: true) %>
    </div>
  </div>
</div>
