<%# locals: (import:) %>

<div class="h-full flex flex-col justify-center items-center">
  <div class="space-y-6 max-w-sm">
    <div class="mx-auto bg-red-500/5 h-8 w-8 rounded-full flex items-center justify-center">
      <%= icon "alert-octagon", color: "destructive" %>
    </div>

    <div class="text-center space-y-2">
      <h1 class="font-medium text-primary text-center text-3xl">Reverting import failed</h1>
      <p class="text-sm text-secondary">Please try again or contact support.</p>
    </div>

    <%= render DS::Button.new(
      text: "Try again",
      full_width: true,
      href: revert_import_path(import)
    ) %>
  </div>
</div>
