<!--TODO: Once we have more styled tables for reference, refactor and DRY this up -->
<div class="grid grid-cols-5 border border-alpha-black-200 rounded-md shadow-xs text-sm bg-white">
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium rounded-tl-md">date</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium">name</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium">category</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium">tags</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium rounded-tr-md">amount</div>

  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">2024-01-01</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Amazon</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Shopping</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Tag1|Tag2</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">-24.99</div>

  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">2024-03-01</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Spotify</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200"></div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200"></div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">-16.32</div>

  <div class="px-3 py-2.5 border-b border-b-alpha-black-200 rounded-bl-md">2023-01-06</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Acme</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Income</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Tag3</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200 rounded-br-md">151.22</div>
</div>
