<!--TODO: Once we have more styled tables for reference, refactor and DRY this up -->
<div class="grid grid-cols-4 border border-alpha-black-200 rounded-md shadow-xs text-sm bg-white">
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium rounded-tl-md">Date</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium">Name</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium">Category</div>
  <div class="bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium rounded-tr-md">Amount</div>

  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">mm/dd/yyyy</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Txn name</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Category</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">-24.99</div>

  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">3/1/2024</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Spotify</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Subscriptions</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">-16.32</div>

  <div class="px-3 py-2.5 border-b border-b-alpha-black-200 rounded-bl-md">1/6/2023</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200">Acme</div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200"></div>
  <div class="px-3 py-2.5 border-b border-b-alpha-black-200 rounded-br-md">151.22</div>
</div>