<%# locals: (headers: [], rows: []) %>
<div class="overflow-x-auto">
  <div
    style="grid-template-columns: repeat(<%= headers.length %>, minmax(max-content, 1fr))"
    class="inline-grid border border-alpha-black-200 rounded-md shadow-xs text-sm bg-white"
  >
    <% headers.each do |header| %>
      <div
        class="
          bg-gray-25 px-3 py-2.5 border-b border-b-alpha-black-200 font-medium whitespace-nowrap
          first:rounded-tl-md
          last:rounded-tr-md
        "
      >
        <%= header %>
      </div>
    <% end %>

    <% rows.each do |row| %>
      <% row.each do |header, value| %>
        <div
          class="
            px-3 py-2.5 border-b border-b-alpha-black-200 whitespace-nowrap
            first:last:rounded-bl-md
            last:last:rounded-br-md
          "
        >
          <%= value %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
