<%# locals: (headers: [], rows: [], caption: nil) %>

<div class="p-1 rounded-xl bg-gray-25 space-y-2">
  <div class="flex items-center gap-2 p-2 text-sm text-secondary">
    <%= icon("sheet") %>
    <p>Sample data from your imported CSV file</p>
  </div>

  <div class="overflow-x-scroll border border-secondary rounded-md shadow-xs">
    <div class="bg-white rounded-md w-fit min-w-full">
      <div class="bg-gray-25 flex rounded-t-md">
        <% headers.each do |header| %>
          <div class="flex-1 min-w-32 border-b border-r border-secondary last:border-r-0 first:rounded-tl-md last:rounded-tr-md truncate px-3 py-2.5 font-medium text-secondary text-xs whitespace-nowrap">
            <%= header %>
          </div>
        <% end %>
      </div>

      <div class="rounded-b-md">
        <% rows.each do |row| %>
          <div class="bg-white flex last:rounded-b-md">
            <% row.each do |(header, value)| %>
              <div class="flex-1 min-w-32 border-b border-r border-secondary last:border-r-0 first:rounded-tl-md last:rounded-tr-md truncate px-3 py-2.5 text-sm whitespace-nowrap">
                <%= value %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
