<%= content_for :return_to_path, return_to_path(params, imports_path) %>

<div class="mx-auto max-w-[400px] w-full py-56">
  <h1 class="sr-only">Edit import</h1>
  <div class="space-y-2 mb-6 text-center">
    <p class="text-3xl font-medium text-gray-900"><%= t(".header_text") %></p>
    <p class="text-gray-500 text-sm"><%= t(".description_text") %></p>
  </div>
  <%= render "form", import: @import %>
</div>
