<%# locals: (chat:) %>

<%= tag.div class: "flex items-center justify-between px-4 py-3 bg-container shadow-border-xs rounded-lg" do %>
  <div class="grow">
    <%= render "chats/chat_title", chat: chat, ctx: "list" %>

    <p class="text-sm text-secondary">
      <%= time_ago_in_words(chat.updated_at) %> ago
    </p>
  </div>

  <%= render MenuComponent.new(icon_vertical: true) do |menu| %>
    <% menu.with_item(variant: "link", text: "Edit chat", href: edit_chat_path(chat), icon: "pencil", open_in: dom_id(chat, "title")) %>
    <% menu.with_item(
      variant: "button",
      text: "Delete chat",
      href: chat_path(chat),
      icon: "trash-2",
      method: :delete,
      data: {
        turbo_confirm: custom_turbo_confirm(
          title: "Delete chat?",
          body: "Are you sure you want to delete this chat? This action cannot be undone.",
          btn_text: "Delete chat",
          btn_variant: "outline-destructive"
        )
      }) %>
  <% end %>
<% end %>
