<div class="flex flex-col h-full">
  <div id="chat_messages" class="grow overflow-y-auto">
    <% chat.messages.each do |message| %>
      <%= render "chats/message", message: message %>
    <% end %>
  </div>
  
  <div class="mt-4">
    <%= render "chats/form", chat: chat %>
  </div>
</div>

<%= turbo_stream_from chat %>
