<%# locals: (chat:) %>

<div id="chat-error" class="flex items-center justify-between gap-2 px-3 py-2 bg-red-100 border border-red-500 rounded-lg">
  <p class="text-xs text-red-500">Failed to generate response.  Please try again.</p>

  <%= button_to retry_chat_path(chat), method: :post, class: "btn btn--primary" do %>
    <span>Retry</span>
  <% end %>
</div>