<%= turbo_frame_tag "chat_content" do %>
  <div class="flex flex-col gap-4 justify-between h-full">
    <div>
      <h2 class="text-2xl font-bold mb-6"><%= @chat.title %></h2>

      <div class="space-y-6">
        <%= render @chat.messages.conversation %>
      </div>
    </div>

    <%= render "messages/form", chat: @chat %>
  </div>
<% end %>