<%# locals: (rows:) %>

<div class="bg-gray-25 rounded-xl p-1 mb-6">
  <div class="grid grid-cols-4 items-center uppercase text-xs font-medium text-gray-500 py-3">
    <div class="px-5">Entity Type</div>
    <div class="px-5">Name</div>
    <div class="px-5">Balance</div>
    <div class="px-5">Currency</div>
  </div>

  <div class="bg-white border border-alpha-black-200 rounded-xl shadow-xs divide-y divide-alpha-black-200">
    <% rows.each do |row| %>
      <%= render "import/rows/account_import/form", row: row %>
    <% end %>
  </div>
</div>
