<% content_for :page_header do %>
  <%= render "layouts/shared/page_header", 
            breadcrumbs: current_breadcrumbs,
            title: "Welcome back, #{Current.user.first_name}",
            subtitle: "Here's what's happening with your money this week" %>
<% end %>

<div class="w-full space-y-6 pb-24">
  <section class="bg-white py-4 rounded-xl shadow-border-xs">
    <%= render partial: "pages/dashboard/net_worth_chart", locals: { series: @balance_sheet.net_worth_series(period: @period), period: @period } %>
  </section>

  <section>
    <%= render "pages/dashboard/balance_sheet", balance_sheet: @balance_sheet %>
  </section>
</div>
