<% content_for :page_header do %>
  <div class="space-y-1 mb-6 flex justify-between">
    <div class="space-y-1">
      <h1 class="text-3xl font-medium text-primary">Welcome back, <%= Current.user.first_name %></h1>
      <p class="text-gray-500">Here's what's happening with your finances</p>
    </div>

    <%= render LinkComponent.new(
      variant: "icon-inverse",
      icon: "plus",
      href: new_account_path(step: "method_select", classification: "asset"),
      open_in: :modal
    ) %>
  </div>
<% end %>

<div class="w-full space-y-6 pb-24">
  <section class="bg-container py-4 rounded-xl shadow-border-xs">
    <%= render partial: "pages/dashboard/net_worth_chart", locals: { series: @balance_sheet.net_worth_series(period: @period), period: @period } %>
  </section>

  <section>
    <%= render "pages/dashboard/balance_sheet", balance_sheet: @balance_sheet %>
  </section>
</div>
