<h2>Basic Listbox (select)</h2>
<%# Super basic example of using the listbox in a form %>
<form action="#" method="post">
  <div data-controller="listbox" class="relative" data-listbox-active-class="bg-blue-500 text-white hover:bg-blue-500">
    <button type="button" data-listbox-target="button" data-action="click->listbox#toggleList" class="px-4 py-2 bg-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" aria-expanded="false">Select an Option</button>
    <input type="hidden" name="selected_option" data-listbox-target="input">
    <ul data-listbox-target="list" role="listbox" class="hidden absolute top-12 bg-white left-0 list-none p-0 m-0 hidden">
      <% ['Option 1', 'Option 2', 'Option 3'].each_with_index do |option, index| %>
        <li data-value="<%= option %>" data-listbox-target="option" data-action="click->listbox#selectOption" role="option" tabindex="<%= index == 0 ? '0' : '-1' %>" aria-selected="<%= index == 0 ? 'true' : 'false' %>" class="cursor-pointer hover:bg-gray-100 p-2">
          <%= option %>
        </li>
      <% end %>
    </ul>
  </div>
  <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md">Submit</button>
</form>
<h2>Basic Popover (general purpose menu)</h2>
<div data-controller="popover" class="relative">
  <button type="button" data-popover-target="button" data-action="click->popover#toggle" class="px-4 py-2 bg-gray-200 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" aria-expanded="false">Toggle Popover</button>
  <div data-popover-target="content" class="hidden absolute z-10 w-48 bg-white shadow-md rounded-lg p-4">
    <p class="text-gray-700">Popover Content</p>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Link 1</a>
    <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Link 2</a>
    <button class="px-4 py-2 bg-blue-500 text-white rounded-md">Button</button>
    <p class="text-sm text-gray-500 mt-4">Non-clickable text</p>
  </div>
</div>
