<%# locals: (account:, selected_tab:) %>

<% if account.mode.nil? %>
  <%= render "accounts/accountables/value_onboarding", account: account %>
<% else %>
  <div class="min-h-[800px]">
    <% if account.mode == "transactions" %>
      <%= render "accounts/accountables/transactions", account: account %>
    <% else %>
      <%= render "accounts/accountables/valuations", account: account %>
    <% end %>
  </div>
<% end %>
