<%# locals: (account:) %>

<div data-test-id="value-onboarding" class="py-12 flex flex-col justify-center items-center bg-white rounded-lg border border-alpha-black-25 shadow-xs">
  <h3 class="font-medium text-lg mb-2">How would you like to track value for this account?</h3>
  <p class="text-sm text-gray-500 mb-8">We will use this to determine what data to show for this account.</p>
  <div class="flex items-center gap-4">
    <%= button_to account_path(account, { account: { mode: "balance" } }), method: :put, class: "btn btn--outline", data: { controller: "tooltip", turbo: false } do %>
      <%= render partial: "shared/text_tooltip", locals: { tooltip_text: "Choose this if you only need to track the historical value of this account over time and do not plan on importing any transactions." } %>
      <span>Balance only</span>
    <% end %>
    <%= button_to account_path(account, { account: { mode: "transactions" } }), method: :put, class: "btn btn--primary", data: { controller: "tooltip", turbo: false } do %>
      <%= render partial: "shared/text_tooltip", locals: { tooltip_text: "Choose this if you plan on importing transactions into this account for budgeting and other analytics." } %>
      <span>Transactions</span>
    <% end %>
  </div>
</div>
