<%= turbo_frame_tag dom_id(@accountable, :sparkline) do %>
  <div class="flex items-center justify-end gap-1">
    <div class="w-8 h-3">
      <%= render "shared/sparkline", id: dom_id(@accountable, :sparkline_chart), series: @series %>
    </div>

    <%= tag.p trend_percent(@series.trend.percent),
              style: "color: #{@series.trend.color}",
              class: "text-right text-xs font-medium text-primary" %>
  </div>
<% end %>
