<%= turbo_frame_tag "#{@accountable.model_name.param_key}_sparkline" do %>
  <div class="flex items-center justify-end gap-1">
    <div class="w-8 h-3">
      <%= render "shared/sparkline", id: dom_id(@accountable, :sparkline_chart), series: @series %>
    </div>

    <%= tag.p @series.trend.percent_formatted,
                style: "color: #{@series.trend.color}",
                class: "font-mono text-right text-xs font-medium text-primary" %>
  </div>
<% end %>
