---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/sandbox/public_token/create
    body:
      encoding: UTF-8
      string: '{"institution_id":"ins_109508","initial_products":["transactions","investments","liabilities"],"options":{"override_username":"custom_test"}}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "public_token": "public-sandbox-0463cb9d-8bdb-4e01-9b33-243e1370623c",
          "request_id": "FaSopSLAyHsZM9O"
        }
  recorded_at: Mon, 19 May 2025 17:24:03 GMT
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-0463cb9d-8bdb-4e01-9b33-243e1370623c"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-0af2c971-41a6-4fc5-a97d-f2b27ab0a648",
          "item_id": "n7XKpjRmDkHENymaBw7rU71wxQnrW4i6DDrQP",
          "request_id": "2e1nOnm2CoOXVcH"
        }
  recorded_at: Mon, 19 May 2025 17:24:03 GMT
recorded_with: VCR 6.3.1
