---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/holdings/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d531d3c9-8520-43ca-9e58-5b70b79fd1d4"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "MpWPx5o4yrcpZvwQrdbMuwX699pjDRCLX98NN",
              "balances": {
                "available": 15000,
                "current": 15000,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "holder_category": "personal",
              "mask": "1119",
              "name": "Test Student Loan Account",
              "official_name": "Plaid student",
              "subtype": "student",
              "type": "loan"
            },
            {
              "account_id": "ZvlBL5eMPQtnXDV6QrR9sReNVVz1XAieagDPz",
              "balances": {
                "available": 11065.71,
                "current": 1000,
                "iso_currency_code": "USD",
                "limit": 12200,
                "unofficial_currency_code": null
              },
              "holder_category": "personal",
              "mask": "3053",
              "name": "Test Credit Card Account",
              "official_nam[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-d531d3c9-8520-43ca-9e58-5b70b79fd1d4","start_date":"2023-05-20","end_date":"2025-05-19","options":{"offset":0}}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_i[...]
