---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-60ea96d0-fe6c-41aa-a3ab-c88c33bd2f7e"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "item": {
            "available_products": [
              "assets",
              "auth",
              "balance",
              "identity",
              "identity_match",
              "income_verification",
              "recurring_transactions",
              "signal"
            ],
            "billed_products": [
              "investments",
              "liabilities",
              "transactions"
            ],
            "consent_expiration_time": null,
            "created_at": "2025-05-19T13:53:38Z",
            "error": null,
            "institution_id": "ins_56",
            "institution_name": "Chase",
            "item_id": "RmaB9v7w3jTVJ6JLllAnSWVzwxvQxJCRw4RRe",
            "products": [
              "investments",
              "liabilities",
              "transactions"
            ],
            "update_type": "background",
            "webhook": ""
          },
          "request_id": "OkYR6qCP5vc6iEk",
          "status": {
            "investments": {
              "last_failed_update": null,
              "last_successful_update": "2025-05-19T13:53:39.616Z"
            },
            "last_webhook": null,
            "transactions": {
              "last_failed_update": null,
              "last_successful_update": null
            }
          }
        }
  recorded_at: Mon, 19 May 2025 13:53:41 GMT
recorded_with: VCR 6.3.1
