---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/holdings/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-01f5e5d8-b1f0-47b4-933a-6664c0064173"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "9AokBkPa5BfWEVAe7XPqswvgkq5V6kh4J5BG7",
              "balances": {
                "available": 10000,
                "current": 10000,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "holder_category": "personal",
              "mask": "1511",
              "name": "Test Depository Account",
              "official_name": "Plaid checking",
              "persistent_account_id": "efe6f4d74b96154ebd8e40efafd36d8d43682c3f5cecdba620385593",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "ye6dBd4XDBTgZPB7EJwpUQqAKob31KS4vlM3L",
              "balances": {
                "available": 15000,
                "current": 15000,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "holder_category": "personal",
              "mask": "2471",
              "name": "Test Student Loan Account",
              "official[...]
- request:
    method: post
    uri: https://sandbox.plaid.com/investments/transactions/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-01f5e5d8-b1f0-47b4-933a-6664c0064173","start_date":"2023-05-20","end_date":"2025-05-19","options":{"offset":0}}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_i[...]
