---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/accounts/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-0af2c971-41a6-4fc5-a97d-f2b27ab0a648"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - "<PLAID_CLIENT_ID>"
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - "<PLAID_SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "vor45kgbDjfqa1BMD8QRU4om8adWNWtqbzQJe",
              "balances": {
                "available": 8000,
                "current": 10000,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "holder_category": "personal",
              "mask": "1122",
              "name": "Test Brokerage Account",
              "official_name": "Plaid brokerage",
              "subtype": "brokerage",
              "type": "investment"
            },
            {
              "account_id": "RperV9wJMNiDWKljGMkPCkwDGJb7q7FaNlVMp",
              "balances": {
                "available": 9372.38,
                "current": 1000,
                "iso_currency_code": "USD",
                "limit": 10500,
                "unofficial_currency_code": null
              },
              "holder_category": "personal",
              "mask": "1219",
              "name": "Test Credit Card Account",
              "officia[...]
