<%# locals: (weight:, color:) %>

<div class="flex items-center gap-2">
  <div class="flex gap-[3px]">
    <% 10.times do |i| %>
      <div class="w-[2px] h-[10px] rounded-lg <%= i < (weight / 10.0).ceil ? "" : "opacity-20" %>" style="background-color: <%= color %>;"></div>
    <% end %>
  </div>
  <p class="text-sm"><%= number_to_percentage(weight, precision: 2) %></p>
</div>
