<%# locals: (series:) %>
<% if series %>
  <div
    id="netWorthChart"
    class="w-full flex-1 min-h-52"
    data-controller="time-series-chart"
    data-time-series-chart-data-value="<%= series.to_json %>"></div>
<% else %>
  <div class="w-full h-full flex items-center justify-center">
    <p class="text-gray-500">No data available for the selected period.</p>
  </div>
<% end %>
