<div class="flex justify-center items-center h-[800px]">
  <div class="text-center flex flex-col gap-4 items-center max-w-[300px]">
    <%= lucide_icon "layers", class: "w-6 h-6 text-secondary" %>

    <div class="space-y-1 text-sm">
      <p class="text-primary font-medium"><%= t(".no_account_title") %></p>
      <p class="text-secondary"><%= t(".no_account_subtitle") %></p>
    </div>

    <%= render LinkComponent.new(
      text: t(".new_account"),
      href: new_account_path,
      icon: "plus",
      frame: :modal
    ) %>
  </div>
</div>
