<%# locals: (filter_key:,filter_value:) %>
<div class="flex items-center gap-1 text-sm border border-alpha-black-200 rounded-3xl p-1.5">
  <span><%= filter_value %></span>
  <%= link_to transactions_path_without_param(filter_key, filter_value), data: { turbo: false }, class: "flex items-center" do %>
    <%= lucide_icon "x", class: "w-4 h-4 text-gray-500" %>
  <% end %>
</div>
