<div class="flex items-center">
  <%= image_tag(combobox_security.logo_url, class: "rounded-full h-8 w-8 inline-block mr-2" ) %>
  <div class="flex flex-col">
    <span class="text-sm font-medium">
      <%= combobox_security.name.presence || combobox_security.symbol %>
    </span>
    <span class="text-xs text-secondary">
      <%= "#{combobox_security.symbol} (#{combobox_security.exchange_operating_mic})" %>
    </span>
  </div>
</div>
