---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_b1RD8r6DAkSA8vrQ3grBC2QVgR5zUJ7QQFuVHZkcKoSYaEOQgCMPMOCOM5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Stripe-Version:
      - 2025-04-30.basil
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_b1RD8r6DAkSA8vrQ3grBC2QVgR5zUJ7QQFuVHZkcKoSYaEOQgCMPMOCOM5",
          "object": "checkout.session",
          "adaptive_pricing": null,
          "after_expiration": null,
          "allow_promotion_codes": true,
          "amount_subtotal": 900,
          "amount_total": 900,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/subscription/upgrade?plan=monthly",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1746281950,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_SFBH32Bf5lsggB",
          "customer_creation": "always",
          "customer_details": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": "12345",
              "state": null
            },
            "email": "user@maybe.local",
            "name": "Test Checkout User",
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": []
          },
          "customer_email": "user@maybe.local",
          "discounts": [],
          "expires_at": 1746368350,
          "invoice": "in_1RKguoQT2jbOS8G0PuBVklxw",
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "subscription",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_1RJyv5QT2jbOS8G0PDwTVBar",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "link",
            "cashapp",
            "amazon_pay"
          ],
          "payment_status": "paid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": null,
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_options": [],
          "status": "complete",
          "submit_type": null,
          "subscription": "sub_1RKguoQT2jbOS8G0Zih79ix9",
          "success_url": "http://localhost:3000/subscription/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": null,
          "wallet_options": null
        }
  recorded_at: Mon, 05 May 2025 16:09:23 GMT
recorded_with: VCR 6.3.1
