---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1746457258
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - a15ef2f4-8d70-4197-931b-5cf93076d49a
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a15ef2f4-8d70-4197-931b-5cf93076d49a
      Original-Request:
      - req_WzJuOBrSQgHe8L
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1RLQVqQT2jbOS8G0g8Rt1LNz",
          "object": "test_helpers.test_clock",
          "created": 1746457258,
          "deletes_after": 1749049258,
          "frozen_time": 1746457258,
          "livemode": false,
          "name": null,
          "status": "ready",
          "status_details": {}
        }
  recorded_at: Mon, 05 May 2025 15:00:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user_1746457258%40maybe.test&payment_method=pm_card_visa&invoice_settings[default_payment_method]=pm_card_visa&test_clock=clock_1RLQVqQT2jbOS8G0g8Rt1LNz
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - a43b330a-fb79-4f69-84f6-1e678ca92f06
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - a43b330a-fb79-4f69-84f6-1e678ca92f06
      Original-Request:
      - req_CVDC9VAFEnkIft
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SFwOcXlQieLSrg",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1746457258,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user_1746457258@maybe.test",
          "invoice_prefix": "XGIIC9T1",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1RLQVqQT2jbOS8G0CcNKlEb2",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": "clock_1RLQVqQT2jbOS8G0g8Rt1LNz"
        }
  recorded_at: Mon, 05 May 2025 15:00:59 GMT
recorded_with: VCR 6.3.1
