---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/test_helpers/test_clocks
    body:
      encoding: UTF-8
      string: frozen_time=1746281894
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - 7c61726e-6b37-46bb-b4b1-3e232fa9afd3
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 7c61726e-6b37-46bb-b4b1-3e232fa9afd3
      Original-Request:
      - req_pkr9gJ0ZBalHyL
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "clock_1RKgtOQT2jbOS8G0GiZN9BcG",
          "object": "test_helpers.test_clock",
          "created": 1746281894,
          "deletes_after": 1748873894,
          "frozen_time": 1746281894,
          "livemode": false,
          "name": null,
          "status": "ready",
          "status_details": {}
        }
  recorded_at: Sat, 03 May 2025 14:18:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user_1746281894%40maybe.test&payment_method=pm_card_visa&invoice_settings[default_payment_method]=pm_card_visa&test_clock=clock_1RKgtOQT2jbOS8G0GiZN9BcG
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Idempotency-Key:
      - e7e6a003-e35a-4b9b-a4c5-24b35d96c6f1
      Stripe-Version:
      - 2025-04-30.basil
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e7e6a003-e35a-4b9b-a4c5-24b35d96c6f1
      Original-Request:
      - req_dXTYzEFfG5jDNA
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-04-30.basil
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_SFBFdJm0XLT5N5",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1746281894,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user_1746281894@maybe.test",
          "invoice_prefix": "GUUYJYBR",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": "pm_1RKgtOQT2jbOS8G0FqlgpwQL",
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": "clock_1RKgtOQT2jbOS8G0GiZN9BcG"
        }
  recorded_at: Sat, 03 May 2025 14:18:15 GMT
recorded_with: VCR 6.3.1
