<%# locals: (group:) %>
<% date = group[0] %>
<% transactions = group[1] %>

<div class="bg-gray-25 rounded-xl p-1 w-full">
  <div class="py-2 px-4 flex items-center justify-between font-medium text-xs text-gray-500">
    <h4><%= Date.parse(date).strftime("%b %d, %Y") %> &middot; <%= transactions.size %></h4>
    <span><%= format_money -transactions.sum { |t| BigDecimal(t.amount) } %></span>
  </div>
  <div class="bg-white shadow-xs rounded-md border border-alpha-black-25 divide-y divide-alpha-black-50">
    <%= render partial: "imports/rows/transaction/preview", collection: transactions, as: :transaction %>
  </div>
</div>