<%# locals: (message:, id: nil) %>

<%= tag.div id: id, class: "flex gap-3 rounded-lg bg-white p-4 group w-full shadow-border-xs" do %>
  <div class="h-5 w-5 shrink-0 p-px text-white">
    <%= lucide_icon "loader", class: "w-5 h-5 text-secondary animate-pulse" %>
  </div>

  <%= tag.p message, class: "text-primary text-sm font-medium" %>
<% end %>