.form-field {
  position: relative;
  border: 1px solid theme("colors.gray.100");
  background: theme("colors.offwhite");
  border-radius: theme("borderRadius.xl");

  &:focus-within {
    background: theme("colors.white");
    box-shadow: theme("boxShadow.DEFAULT");
    opacity: 1;
  }

  label {
    display: block;
    font-size: theme("fontSize.sm");
    font-weight: theme("fontWeight.medium");
    color: theme("colors.gray.700");
    padding: theme("spacing.4");
    padding-bottom: 0;
  }

  input {
    padding: theme("spacing.4");
    padding-top: theme("spacing.1");
    background: transparent;
    border: none;
    opacity: 0.5;
    outline: none;
    width: 100%;

    &:focus {
      opacity: 1;
      @apply ring-0;
    }
  }
}
