@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset rules, default styles applied to plain HTML */
@layer base {
  details > summary::-webkit-details-marker {
    @apply hidden;
  }
}

@layer components {
  .prose {
    table {
      @apply divide-y divide-gray-300;
    }

    tr {
      @apply divide-x divide-gray-100;
    }

    th {
      @apply whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900;
    }

    tbody {
      @apply divide-y divide-gray-200;
    }

    td {
      @apply px-2 py-2 text-sm text-gray-500 whitespace-nowrap;
    }
  }

  .form-field {
    @apply relative border border-alpha-black-100 bg-white rounded-md shadow-xs;
    @apply focus-within:shadow-none focus-within:border-gray-900 focus-within:ring-4 focus-within:ring-gray-100;
  }

  .form-field__label {
    @apply px-3 pt-2 pb-0 block text-xs text-gray-500;
  }

  .form-field__input {
    @apply px-3 pb-2 pt-1 text-sm w-full bg-transparent border-none opacity-100;
    @apply focus:outline-none focus:ring-0 focus:opacity-100;
    @apply placeholder-shown:opacity-50;
    @apply disabled:opacity-50;
  }

  .form-field__radio {
    @apply text-gray-900;
  }

  .form-field__submit {
    @apply w-full p-3 text-center text-white bg-black rounded-lg cursor-pointer hover:bg-gray-700;
  }

  input:checked + label + .toggle-switch-dot {
    transform: translateX(100%);
  }

  [type='checkbox'].custom-checkbox {
    @apply border-alpha-black-200 rounded-sm checked:bg-gray-900 checked:hover:bg-gray-500 checked:ring-gray-900 focus-visible:ring-gray-900 focus:ring-gray-900;
  }

  [type='checkbox'].custom-checkbox--dark:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='111827' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    @apply text-white;
  }

  [type='checkbox'].custom-checkbox--dark {
    @apply ring-gray-900;
  }
}

/* Small, single purpose classes that should take precedence over other styles */
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #d6d6d6;
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
  }
}
