<%# locals: (category:) %>
<% category ||= null_category %>

<div>
  <span class="flex items-center gap-1 text-sm font-medium rounded-full px-1.5 py-1 border border-alpha-black-25"
        style="
          background-color: color-mix(in srgb, <%= category.color %> 5%, white);
          color: <%= category.color %>;">
    <%= category.name %>
  </span>
</div>
