<%# locals: (category:) %>

<span
      data-category-target="avatar"
      class="w-14 h-14 flex items-center justify-center rounded-full"
      style="background-color: color-mix(in oklab, <%= category.color %> 10%, transparent); color: <%= category.color %>">
  <%= icon(category.lucide_icon, size: "2xl", color: "current") %>
</span>
