<%= content_tag :div, class: ["flex items-center gap-2"] do %>
  <div class="flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-gray-600/5 text-gray-600">
    <%= transaction.name[0].upcase %>
  </div>

  <div class="truncate text-gray-900">
    <% if transaction.new_record? %>
      <%= content_tag :p, transaction.name %>
    <% else %>
      <%= link_to transaction.name,
                  transaction_path(transaction),
                  data: { turbo_frame: "drawer", turbo_prefetch: false },
                  class: "hover:underline hover:text-gray-800" %>
    <% end %>
  </div>
<% end %>
