<%# locals: (totals:) %>
<div class="grid grid-rows-3 sm:grid-cols-3 bg-white rounded-xl shadow-border-xs divide-y sm:divide-x divide-alpha-black-100">
  <div class="p-4 space-y-2">
    <p class="text-sm text-secondary">Total transactions</p>
    <p class="text-primary font-medium text-xl" id="total-transactions"><%= totals.transactions_count.round(0) %></p>
  </div>
  <div class="p-4 space-y-2">
    <p class="text-sm text-secondary">Income</p>
    <p class="text-primary font-medium text-xl" id="total-income">
      <%= totals.income_money.format %>
    </p>
  </div>
  <div class="p-4 space-y-2">
    <p class="text-sm text-secondary">Expenses</p>
    <p class="text-primary font-medium text-xl" id="total-expense">
      <%= totals.expense_money.format %>
    </p>
  </div>
</div>
