<%# locals: (transaction:) %>

<div id="<%= dom_id(transaction, "category_menu") %>">
  <% if transaction.transfer&.categorizable? || transaction.transfer.nil? %>
    <%= render "categories/menu", transaction: transaction %>
  <% else %>
    <%= render "categories/badge", category: transaction.transfer&.payment? ? payment_category :  transfer_category %>
  <% end %>
</div>
