<%# locals: (name:) %>

<%= content_tag :div, class: ["flex items-center gap-2", { "w-40": !full_width_transaction_row?(request.path), "w-96": full_width_transaction_row?(request.path) }] do %>
  <div class="w-8 h-8 flex items-center justify-center rounded-full bg-gray-600/5 text-gray-600">
    <%= name[0].upcase %>
  </div>
  <p class="text-gray-900 group-hover:underline group-hover:text-gray-800 truncate">
    <%= name %>
  </p>
<% end %>
