<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Transactions</h1>
    <%= link_to "New transaction", new_transaction_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="transactions" class="min-w-full">
    <%= render @transactions %>
  </div>
</div>
