<%= render DialogComponent.new(reload_on_close: true) do |dialog| %>
  <% dialog.with_header(title: "Confirm changes") %>

  <% dialog.with_body do %>
    <p class="text-secondary text-sm mb-4">
      You are about to apply this rule to
      <span class="text-primary font-medium"><%= @rule.affected_resource_count %> <%= @rule.resource_type.pluralize %></span>
      that meet the specified rule criteria.  Please confirm if you wish to proceed with this change.
    </p>

    <%= render ButtonComponent.new(
      text: "Confirm changes",
      href: apply_rule_path(@rule),
      method: :post,
      full_width: true,
      data: { turbo_frame: "_top" }) %>
  <% end %>
<% end %>
