<% content_for :page_title, "Rules" %>

<div>
  <%= link_to "New rule", new_rule_path %>
  <ul>
    <% @rules.each do |rule| %>
      <li>
        <%= link_to rule.id, edit_rule_path(rule) %>
      </li>
    <% end %>
  </ul>
</div>
