---
http_interactions:
  - request:
      method: get
      uri: https://api.github.com/repos/rails/rails/releases
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"a032e5cc14d6dc10a55126bd742c08afc1365c4cf381d6d5ce3b4014cfbf2de5"
        X-Github-Media-Type:
          - github.v3; format=json
        Link:
          - <https://api.github.com/repositories/8514/releases?page=2>; rel="next", <https://api.github.com/repositories/8514/releases?page=4>;
            rel="last"
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "53"
        X-Ratelimit-Reset:
          - "1712781639"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "7"
      body:
        encoding: ASCII-8BIT
        string: '[{"tag_name": "v7.1.3.2", "html_url": "http://localhost"}]' # manually abbreviated for clarity
    recorded_at: Wed, 10 Apr 2024 19:52:56 GMT
  - request:
      method: get
      uri: https://api.github.com/repos/rails/rails/branches/main
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"bbcf30919f0ef5fae2b2a28f58d50e3fb2cea8aa75418d5f2b919a7f857b27d0"
        X-Github-Media-Type:
          - github.v3; format=json
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "52"
        X-Ratelimit-Reset:
          - "1712781639"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "8"
      body:
        encoding: ASCII-8BIT
        # manually abbreviated for clarity
        string: '{"commit":{"sha":"84997578c59aa88fe114cef176115f1612b6de6b", "html_url":"https://github.com/rails/rails/commit/84997578c59aa88fe114cef176115f1612b6de6b"}}'
    recorded_at: Wed, 10 Apr 2024 19:52:57 GMT
  - request:
      method: get
      uri: https://api.github.com/repos/rails/rails/commits/v7.1.3.2
      body:
        encoding: US-ASCII
        string: ""
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=utf-8
        Etag:
          - W/"0668fc459669113a200777ee9ddd56a6ca2efb647894b006d3966504c7c82f13"
        Last-Modified:
          - Wed, 21 Feb 2024 21:43:55 GMT
        X-Github-Media-Type:
          - github.v3; format=json
        X-Github-Api-Version-Selected:
          - "2022-11-28"
        X-Ratelimit-Limit:
          - "60"
        X-Ratelimit-Remaining:
          - "51"
        X-Ratelimit-Reset:
          - "1712781639"
        X-Ratelimit-Resource:
          - core
        X-Ratelimit-Used:
          - "9"
      body:
        encoding: ASCII-8BIT
        # manually abbreviated for clarity
        string: '{"sha":"6f0d1ad14b92b9f5906e44740fce8b4f1c7075dc"}'
    recorded_at: Wed, 10 Apr 2024 19:52:57 GMT
recorded_with: VCR 6.2.0
