
<footer class="p-6">
  <div class="space-y-2 text-center text-xs text-gray-500">
    <p>&copy; <%= Date.current.year %>, Maybe Finance, Inc.</p>
    <p><%= link_to t(".privacy_policy"), "https://maybe.co/privacy", class: "underline hover:text-gray-600" %> &bull; <%= link_to t(".terms_of_service"), "https://maybe.co/tos", class: "underline hover:text-gray-600" %></p>
  </div>
</footer>
