<%= link_to new_account_path(
              step: "method",
              type: type.class.name.demodulize,
              institution_id: params[:institution_id]
            ),
            class: "flex items-center gap-4 w-full text-center focus:outline-none focus:bg-alpha-black-25 hover:bg-alpha-black-25 border border-transparent block px-2 rounded-lg p-2" do %>
  <span class="flex w-8 h-8 shrink-0 grow-0 items-center justify-center rounded-lg <%= bg_color %> border border-alpha-black-25">
    <%= lucide_icon(icon, class: "#{text_color} w-5 h-5") %>
  </span>
  <%= type.model_name.human %>
<% end %>
