<div class="flex justify-center items-center h-[800px] text-sm">
  <div class="text-center flex flex-col items-center max-w-[300px]">
    <%= tag.p t(".no_accounts"), class: "text-primary mb-1 font-medium" %>
    <%= tag.p t(".empty_message"), class: "text-secondary mb-4" %>

    <%= render LinkComponent.new(
      text: t(".new_account"),
      href: new_account_path,
      frame: :modal
    ) %>
  </div>
</div>
