<%# locals: (title:, content:) %>

<div class="rounded-xl bg-white shadow-xs border border-alpha-black-25 p-4">
  <h4 class="text-gray-500 text-sm"><%= title %></h4>
  <p class="text-xl font-medium text-gray-900">
    <%= content %>
  </p>
</div>
