<%# locals: (is_syncing:) %>
<% if is_syncing %>
  <div class="my-4 px-8 py-4 rounded-lg bg-yellow-500/10 flex items-center justify-between">
    <p class="text-gray-900 text-sm">
      Syncing your account balances.  Please reload the page to see updated data.
    </p>
  </div>
<% end %>
