<%= button_to sync_all_accounts_path, class: "btn btn--light flex items-center gap-2", title: "Sync All" do %>
  <%= lucide_icon "refresh-cw", class: "w-5 h-5" %>
  <span><%= t("accounts.sync_all.button_text") %></span>
<% end %>
