<div>
  <h1 class="font-bold text-4xl">Edit Valuation</h1>
  <%= turbo_frame_tag dom_id(@valuation) do %>
    <%= form_with model: @valuation, url: account_valuation_path(@valuation.account, @valuation), html: { class: "" } do |f| %>
      <%= render "form_row", f: f, form_icon: "pencil-line", submit_button_text: "Update" %>
    <% end %>
  <% end %>
</div>
